
.edit-event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:rgb(245, 244, 244);
  padding: 20px;
  box-sizing: border-box;
}

.edit-event-box {
  background-color: white ;
  box-shadow: 0 4px 15px rgba(128, 128, 128, 0.25);
  border-radius: 12px;
  padding: 30px 40px;
  max-width: 600px;
  width: 100%;
}


.edit-event-title {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
  color: #333;
}

.edit-event-form .form-group {
  margin-bottom: 18px;
}

.edit-event-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.edit-event-form input {
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fefefe;
  box-sizing: border-box;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.save-button {
  padding: 10px 22px;
  background-color: #E2215f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.save-button:hover {
  background-color: #45a049;
}

