.profile-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(245, 244, 244) ;
  padding: 40px 20px;
}

.profile-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  animation: fadeIn 0.5s ease-in;
}

.profile-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 8px;
}

.profile-info span {
  font-weight: 600;
  color: #555;
}

.profile-info p {
  margin: 0;
  color: #333;
  font-style: italic;
}

.profile-btn-container {
  text-align: center;
  margin-top: 30px;
}

.edit-btn {
  background: #E2215f;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
