.favourite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  color: #ccc;
  transition: all 0.3s ease;
  z-index: 2;
}

.favourite-btn:hover {
  color: red;
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.6));
}

.favourited {
  color: red;
}
.favourite-icon-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.favourite-icon-btn:hover {
  transform: scale(1.2);
}
